@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.experience {
  padding: 50px 20px;
  background-color: #1a243b;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.timeline {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  border-left: 3px solid #3e4c69;
  padding: 10px 0;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
}

.timeline-item.show {
  opacity: 1;
  transform: translateY(0);
}

.timeline-icon {
  position: absolute;
  left: -26px;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #3e4c69;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-icon img {
  width: 20px;
  height: 20px;
}

.timeline-content {
  padding-left: 70px;
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

}

.timeline-content h3 {
  font-size: 20px;
  margin: 0 0 5px 0;
  font-weight: bold;
  color: #1a243b;
}

.timeline-content p {
  font-size: 16px;
  color: #555;
  margin: 0;
}



@media (max-width: 600px) {
  .timeline {
    padding-left: 10px;
  }

  .timeline-item {
    margin-bottom: 30px;
  }

  .timeline-icon {
    left: -24px;
    width: 30px;
    height: 30px;
  }

  .timeline-icon img {
    width: 16px;
    height: 16px;
  }

  .timeline-content {
    padding-left: 50px;
  }

  .timeline-content h3 {
    font-size: 18px;
  }

  .timeline-content p {
    font-size: 14px;
  }
}
