.footer {
    padding: 20px;
    text-align: center;
    background-color: #1a243b;
    color: white;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .social-icons {
    display: flex;
  
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: white;
  }
  .ugurlogo{
    margin-bottom: -30px;
    margin-top: -30px;
    max-width: 150px;
  }
  