@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.projects {
  padding: 50px 20px;
  text-align: center;
  background-color: #fdfdfd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  font-family: "Poppins", sans-serif;

}

.projects h2 {
  font-size: 28px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.myProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  max-width: 900px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.project.show {
  opacity: 1;
  transform: translateY(0);
}

.project.reverse {
  flex-direction: row-reverse;
}

.description{
  max-width: 400px;
}
.description, .image {
  flex: 1;
  margin: 10px;
}

.image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.epicekImage{
  height: 300px;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description p {
  font-size: 16px;
  color: #555;
}

.description span {
  color: blue;
}

@media (max-width: 900px) {
  .project {
    flex-direction: column;
    align-items: center;
  }

  .project.reverse {
    flex-direction: column;
  }

  .image img {
    max-width: 100%;
  }
}
